<!DOCTYPE html>
<html>
  <head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="/backend/routes/views/login/login.css">
  </head>

  <body>
    <h2>Login Page</h2><br>
    <div class="login">
      <form id="login" method="POST" action="/login">
        <label><b>Username : </b></label>
        <input type="text" name="username" id="Uname" placeholder="Username" required>
        <br><br>
        <label><b>Password : </b></label>
        <input type="password" name="password" id="Pass" placeholder="Password" required>
        <br><br>
        <input type="submit"></input>
      </form>
    </div>
  </body>
</html>