/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
/* CSS Variables */
:root{
    --navbar-height: 59px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;

}
/* Navigation Bar : List styling */
#navbar{
    position: relative;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Chettan 2', cursive;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

    
#navbar ul li{
     list-style: none;
     font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('../img/pexels-norma-mortenson-4393668.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: ghostwhite;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}



/* Utility Classes */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
